* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	/* Debug */
	border: 2px solid green;
}

main {
	/* Debug */
	border: 2px solid purple;
}

nav ul {
	list-style: none;
	padding: 2rem;
	/* Debug */
	border: 2px solid hotpink;
}

nav ul li {
	padding: 0 1rem;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	color: #000;
}

figure {
	padding: 2rem;
	display: flex;
	justify-content: center;
	/* Debug */
	border: 2px solid hotpink;
}

#main-icon {
	height: 350px;
	width: 350px;
	/* color: pink; */
	fill: blue;
	font-family: 'Galvji';
	font-size: 168.3172px;
}

article {
	margin: 4rem;
}

#fries-1, #fries-2 {
	max-width: 50vw;
	/* max-height: 100vw; */
	/* width: ; */
	object-fit: scale-down;
	/* Debug */
	border: 5px groove yellow;
}
