* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;
	padding: 2rem;
}

nav ul li {
	padding: 0 1rem;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	color: #000;
}

figure {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

#main-icon {
	height: 350px;
	width: 350px;
	fill: blue;
	font-family: 'Galvji';
	font-size: 168.3172px;
}

article {
	margin: 4rem;
}

#fries-1, #fries-2 {
	max-width: 50vw;
	object-fit: scale-down;
}
