* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;
	padding: 2rem;
}

nav ul li {
	padding: 0 1rem;
}

h3 {
	color: #2a2d75;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	color: #000;
}

figure {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

#main-icon {
	height: 350px;
	width: 350px;
	fill: #2A7D80;
	font-family: 'Galvji';
	font-size: 168.3172px;
}

#fries-1, #fries-2 {
	max-width: 50vw;
	padding: 5rem;
}

/* Debug */
article {
	border: 2px solid pink;
}
